body{
    background-color: rgb(255, 154, 83);
}

#dot{
    color:rgb(189, 100, 189);
    background-color:rgb(189, 100, 189);
}

.whoami{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 20px 10px 20px;
    font-size: 50px;
    color: rgb(97, 49, 16);
}

footer{
    background-color: rgb(70, 255, 70);
}

h3{
    font-family: cursive;
    font-weight: bold;
}