body{
    background-image: url("http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcTDF_re4xEQ6H8y25hOzcg9rzu6vdAheywKKerTaNE9yhpvMrfNL0-i3NtAPk-6XXi34SfATjqSHqgmwecGqVA");
    background-position: center;
    background-repeat: repeat-y;
}