.goa-1{
    color: aquamarine;
    font-size: 2.3em;
}

.goa-2{
    color: blueviolet;
    font-size: 1em;
}

.goa-3{
    color: brown;
    font-size: 5em;
}

.chad-1{
    color: coral;
    font-size: 3.5em;
    background-color: gold;
}

.chad-2{
    color: darkslategray;
    background-color:rgb(120, 120, 184);}

.css-1{
    color: aliceblue;
    background-color: blueviolet;
}

.css-2{
    color: red;
    font-size: 4;
}

.css-3{
    color: chocolate;
    font-size: 2.3;
}

.html-css-1{
    background-color: aquamarine;
}

.html-css-2{
    color: yellowgreen;
    font-size: 1.8;
}