/* h1{
    text-transform: capitalize;
    text-decoration:line-through;
    text-shadow:10px 20px black 5px;
    text-align:center;
    line-height:2;
    letter-spacing:5;
    word-spacing:3;
}

h2{
    text-transform:;
    text-decoration:;
    text-shadow:;
    text-align:;
    line-height:;
    letter-spacing:;
    word-spacing:;
}

h3{
    text-transform:;
    text-decoration:;
    text-shadow:;
    text-align:;
    line-height:;
    letter-spacing:;
    word-spacing:;
}

h4{
    text-transform:;
    text-decoration:;
    text-shadow:;
    text-align:;
    line-height:;
    letter-spacing:;
    word-spacing:;
}

h5{
    text-transform:;
    text-decoration:;
    text-shadow:;
    text-align:;
    line-height:;
    letter-spacing:;
    word-spacing:;
}

h6{
    text-transform:;
    text-decoration:;
    text-shadow:;
    text-align:;
    line-height:;
    letter-spacing:;
    word-spacing:;
}